.full-size {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.parallax {
  position: absolute;
  top: -300px;
  left: 0;
  bottom: 0;
  right: 0;
}
html body {
  margin: 0;
  font-family: Muli;
}
html body header {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 75px;
  text-align: center;
  border-width: 1px;
  border-style: none;
  border-bottom-style: solid;
  border-color: black;
  background-color: white;
  z-index: 100;
  top: 0;
}
html body header nav {
  height: 75px;
  padding-top: 25px;
}
html body header .flag {
  z-index: 20;
  position: absolute;
  left: 10px;
  top: 24px;
  width: 44px;
  height: 28px;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
html body header #english {
  background: url("/img/english.png");
}
html body header #italian {
  background: url("/img/italian.png");
}
@media (max-width: 888px) {
  html body header #mobile_menu {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: calc(50px);
    background-color: white;
    padding: 0;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@media (min-width: 888px) {
  html body header #mobile_menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
html body header a {
  text-decoration: none;
  font-size: 150%;
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 888px) {
  html body header a {
    display: block;
    padding-top: 5vh;
    padding-bottom: 5vh;
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}
html body header a:link {
  color: #5a5a5a;
}
html body header a:visited {
  color: #5a5a5a;
}
html body header a:hover {
  color: black;
}
html body .expanded {
  position: fixed;
  width: 100%;
  height: 100%;
}
html body .green {
  background-color: #41884a;
}
html body .white {
  background-color: #efe8d5;
}
html body .red {
  background-color: #bf444d;
}
html body .title {
  height: 375px;
  max-height: 40vh;
}
html body #title_background {
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  background: url('/img/cs-0590.jpg');
  background-position: 53% 100%;
  background-size: cover;
  z-index: -1;
}
html body .footer {
  height: 375px;
  max-height: 40vh;
}
html body #footer_background {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: url('/img/cs-0644.jpg');
  background-position: 53% 100%;
  background-size: cover;
  z-index: -2;
}
html body #content {
  overflow: hidden;
  width: 100%;
  position: absolute;
}
html body #content .anchor {
  position: relative;
  top: -75px;
}
html body #content .text_line {
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: black;
}
html body #content .left {
  left: 15px;
  right: 50%;
}
html body #content .right {
  left: 50%;
  right: 15px;
}
html body #content .heading {
  position: relative;
}
html body #content h3 {
  display: inline-block;
  background-color: white;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  font-size: 300%;
  z-index: 1;
  text-align: center;
}
@media (max-width: 888px) {
  html body #content h3 {
    font-size: 200%;
  }
}
html body #content h4 {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
html body #content h5 {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
html body #content h6 {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
html body #content p {
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
html body #content ul {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
html body #content ol {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
html body #content #header_space {
  height: 75px;
}
html body #content #title {
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}
html body #content #title #sean-image {
  display: inline-block;
  width: 133px;
}
html body #content #title #chiara-image {
  display: inline-block;
  width: 133px;
}
html body #content #title h1 {
  font-size: 300%;
  margin: 0;
}
html body #content #title h1 #sean {
  display: inline-block;
  position: relative;
}
html body #content #title h1 #and {
  display: inline-block;
  position: relative;
}
html body #content #title h1 #chiara {
  display: inline-block;
  position: relative;
}
html body #content #title h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 300%;
  color: gray;
}
html body #content .top_white {
  border-top-style: solid;
  border-top-color: gray;
  border-top-width: 1px;
}
html body #content #welcome_group {
  min-height: 500px;
}
html body #content #welcome_group section {
  position: relative;
  text-align: center;
}
html body #content #timer_group {
  overflow: hidden;
  position: relative;
  z-index: 2;
}
@media (min-width: 520px) {
  html body #content #timer_group {
    height: 500px;
  }
}
@media (max-width: 520px) {
  html body #content #timer_group {
    min-height: 500px;
  }
}
html body #content #timer_layer_back {
  background: url("/img/castello.jpg");
  background-size: cover;
  background-position: 50%;
  z-index: 2;
}
html body #content #timer_layer {
  color: white;
  font-size: 300%;
  position: relative;
  z-index: 5;
  text-align: center;
}
@media (max-width: 760px) {
  html body #content #timer_layer {
    font-size: 200%;
  }
}
@media (max-width: 640px) {
  html body #content #timer_layer {
    font-size: 300%;
  }
}
@media (min-width: 520px) {
  html body #content #timer_layer {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
html body #content #timer_layer .countdown-section {
  display: inline-block;
  padding: 15px;
}
html body #content #timer_layer .countdown-period {
  display: block;
}
@media (min-width: 1024px) {
  html body #content #timer_layer .countdown-period {
    width: 222px;
  }
}
@media (max-width: 640px) {
  html body #content #timer_layer .countdown-period {
    width: 222px;
  }
}
html body #content h4 {
  margin: 0;
  font-size: 200%;
  padding-left: 15px;
}
@media (max-width: 888px) {
  html body #content h4 {
    font-size: 150%;
  }
}
html body #content h5 {
  font-size: 140%;
  padding-left: 15px;
}
@media (max-width: 888px) {
  html body #content h5 {
    font-size: 120%;
  }
}
html body #content .info h5 {
  margin: 0;
}
html body #content .info ul {
  list-style: none;
  padding-left: 15px;
  margin-top: 0;
}
html body #content #welcome_section p {
  text-align: center;
}
html body #content #event_section .heading {
  margin-top: 1em;
  margin-bottom: 1em;
}
html body #content #event_section h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
html body #content #event_section h4 {
  color: gray;
  text-align: center;
}
html body #content #event_section h5 {
  font-size: 200%;
  margin-bottom: 5px;
}
@media (max-width: 888px) {
  html body #content #event_section h5 {
    font-size: 150%;
  }
}
html body #content #event_section p {
  margin-top: 0;
}
html body #content #travel_section h4 {
  margin-bottom: 10px;
}
html body #content #travel_section .half h4 {
  margin-bottom: 5px;
}
html body #content #travel_section h5 {
  color: gray;
  margin: 0;
}
html body #content #travel_section p {
  margin-top: 0;
}
html body #content #travel_section ul {
  margin-top: 0;
}
html body #content #travel_group {
  overflow: hidden;
  position: relative;
  z-index: 0;
  height: 500px;
}
html body #content #travel_group #travel_back {
  background: url("/img/travel.jpg");
  background-size: cover;
  background-position: 10%;
  z-index: 4;
}
html body #content #travel_group #travel_base {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
}
html body #content #todo_section h5 {
  margin-bottom: 5px;
}
html body #content #todo_section h6 {
  color: gray;
  margin: 0;
  padding-left: 15px;
  font-size: 125%;
}
@media (max-width: 888px) {
  html body #content #todo_section h6 {
    font-size: 110%;
  }
}
html body #content #todo_section p {
  margin-top: 0;
}
html body #content #todo_section ul {
  list-style: none;
  padding-left: 15px;
  margin-top: 0;
}
html body #content #rsvp_section {
  background-color: #41884a;
}
html body #content #rsvp_section h3 {
  background-color: #41884a;
  color: #ffffff;
}
html body #content #rsvp_section .text_line {
  background-color: #ffffff;
}
html body #content #rsvp_section .rsvp_input {
  -webkit-margin-collapse: separate;
}
html body #content #rsvp_section .green {
  border-color: white;
  color: white;
  padding-bottom: 40px;
}
html body #content #rsvp_section .green input {
  background-color: #41884a;
  border-color: #336539;
  color: #336539;
}
html body #content #rsvp_section .green ::-webkit-input-placeholder {
  color: #87af8c;
}
html body #content #rsvp_section .white {
  z-index: 5;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
html body #content #rsvp_section .white input {
  background-color: white;
  border-color: #787878;
}
html body #content #rsvp_section .red {
  padding-top: 40px;
  padding-bottom: 160px;
}
html body #content #rsvp_section input {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  font-size: 175%;
  --webkit-border-radius: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
}
html body #content #rsvp_section select {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  font-size: 175%;
  --webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  padding: 10px;
  background-color: #bf444d;
}
html body #content .sub_section {
  margin-bottom: 60px;
}
html body #content .white {
  z-index: 4;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}
html body #content #bottom_white {
  margin-bottom: 0;
  padding-bottom: 0;
}
html body #content #map {
  height: 500px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 0;
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
  padding-bottom: 0;
}
@media (pointer: course) {
  html body #content #map {
    max-height: 40vh;
  }
}
html body #content section {
  z-index: 4;
  position: relative;
  background-color: white;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 750px) {
  html body #content .half {
    min-width: 375px;
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
}
html body #content #registry {
  margin-bottom: 30px;
}
html body #content #lista-nozze {
  margin-top: 5px;
  margin-bottom: 5px;
}
html body #content #vi-aggiorneremo-presto {
  text-align: center;
  color: gray;
}
