@import "variables.less";

@black: rgb(39, 39, 39);
@green: rgb(176, 190, 96);
@white: rgb(244, 244, 244);
@light-gray: rgb(166, 166, 166);
@dark-gray: rgb(91, 91, 91);

@list-image-size: 44;
@list-image-radius: @list-image-size/2;


@green-transparent: rgba(176, 190, 96, 0.75);
@white-transparent: rgba(244, 244, 244, 0.75);
@light-gray-transparent: rgba(166, 166, 166, 0.75);

header {
  h1 {
    font-family: proxima-nova-extra-condensed-1, proxima-nova-extra-condensed-2, sans-serif;
    text-align: center;
  }

  h2 {
    font-family: proxima-nova-extra-condensed-1, proxima-nova-extra-condensed-2, sans-serif;
    text-align: center;
  }

  nav {
    a {
      font-family: proxima-nova-extra-condensed-1, proxima-nova-extra-condensed-2, sans-serif;
      text-decoration: none;
    }
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

body {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

div#left {
  display: inline-block;
  background-color: #ff0000;
  width:700px;
  position: absolute;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
background-position: 50% 50%;
background-size: cover;
}

div#right {
  display: inline-block;
  float: right;
  ul {
    display: inline-block;
    width: 200px;
  }
  div#right_content {
    display: inline-block;
    width: 500px;
  }
  width:750px;
}
