<div id="header_space"> </div>

<div class="title"> </div>

<div class="anchor" id="welcome"></div>
<div class="white top_white" id="welcome_group">
    <section id="welcome_section">
        <div id="title">
            <div id="sean-image">
                <img src="/img/sean.jpg"/>
            </div>
            <div id="chiara-image">
                <img src="/img/chiara.jpg"/>
            </div>
            <h1>
                <span id="sean">Sean</span>
                <span id="and">&</span>
                <span id="chiara">Chiara</span>
            </h1>
            {% if page.lang == 'it' %}
            <h2>27.06.2015</h2>
            {% else %}
            <h2>06.27.15</h2>
            {% endif %}
        </div>

        {% capture welcome_include %}{% include welcome.md %}{% endcapture %}
        {{ welcome_include | markdownify }}
    </section>
</div>


<div id="timer_group">
    <div id="timer_layer_back" class="parallax">
        <div style="background-color: rgba(0,0,0,0.6);" class="full-size"></div>
    </div>
    <div id="timer_layer">
        <div id="defaultCountdown">
            <span class="countdown_row countdown_show4"> </span>
        </div>
        <script type="text/javascript">
            $('#defaultCountdown').countdown({until: new Date(1435419000000) });
        </script>
    </div>
</div>
<div class="white">
   {% if page.lang == 'en' %}
    <div class="anchor" id="event"></div>
    {% else %}
    <div class="anchor" id="lafesta"></div>
    {% endif %} 
    <section id="event_section">
        {% capture event_include %}{% include event.md %}{% endcapture %}
        {{ event_include | markdownify }}
    </section>

    {% if page.lang == 'en' %}
<div class="anchor" id="travel"></div>
    <section id="travel_section">
        {% capture travel_include %}{% include travel_en.md %}{% endcapture %}
        {{ travel_include | markdownify }}
    </section>
{% else %}
<div class="anchor" id="lista_nozze"></div>
<section id="registry">
    {% capture registry_include %}{% include registry.md %}{% endcapture %}
    {{ registry_include | markdownify }}
</section>
{% endif %}
</div>

{% if page.lang == 'en' %}
<div id="travel_group">
    <div id="travel_base" class="full-size"></div>
    <div id="travel_back" class="parallax"></div>
</div>
{% endif %}

<div class="white" {% if page.lang == 'en' %}id="bottom_white" {% endif %}>
{% if page.lang == 'en' %}
    <div class="anchor" id="accomodation"></div>
    <section id="accomodation_section">
        {% capture accomodation_include %}{% include accomodation_en.md %}{% endcapture %}
        {{ accomodation_include | markdownify }}
    </section>
{% endif %}
    
{% include todo.md %}
        
{% if page.lang != 'it' %}
    <div id="map">
        <script>
            L.mapbox.accessToken = 'pk.eyJ1Ijoic2VlcGVsIiwiYSI6ImZtMnhmb00ifQ.-s0bpFVh6kO66jtyfeVMbw';
            // Create a map in the div #map
            var map = L.mapbox.map('map', 'seepel.kj0g5ke3');

            // disable drag and zoom handlers
            map.scrollWheelZoom.disable();
            // disable tap handler, if present.
            if (map.tap) map.tap.disable();
        </script>
    </div>
{% endif %}
</div>
{% if page.lang == 'it' %}
<div class="anchor" id="verrai"></div>
{% else %}
<div class="anchor" id="rsvp"></div>
{% endif %}
<section id="rsvp_section">
    {% include rsvp.html %}  
</section>
<div class="footer"> </div>