<div>
<div class="text_line left"></div>
<h3>RSVP</h3>
<div class="text_line right"></div>
</div>

<form id="rsvp_form"></form>
<div class="rsvp_input green">
<input form="rsvp_form" class="text" id="rsvp_name" type="text" name="name" placeholder="name"/>
</div>
<div class="rsvp_input white">
<input form="rsvp_form" class="text" id="rsvp_email" type="text" name="email" placeholder="email"/>
</div>
<div class="rsvp_input red">
    <select form="rsvp_form" id="rsvp_count" name="count">
      <option value="1">Just Me</option>
      <option value="2">+1</option>
      <option value="3">+2</option>
      <option value="4">+3</option>
      <option value="5">+4</option>
    </select>
</div>

