<!DOCTYPE HTML>

<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="Twitter Bootstrap Basic Tab Based Navigation Example"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/css/main.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Muli">
    <script src="//api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.js"></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/jquery.plugin.min.js"></script>
    <script src="/js/jquery.countdown.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.3.4.min.js"></script>
    <script src="/js/parse.js"></script>
    {% if page.lang == 'it' %}
    <script src="/js/jquery.countdown-it.js"></script>
    {% endif %}
    <script src="/js/menu.js"></script>
    <script src="/js/scroll.js"></script>
    <script src="/js/language.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58453862-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <header class="normal"> 
    <nav>
    {% include nav.md %}
    <a id="mobile_menu" onclick="toggleNav()" href="javascript:void(0);">MENU</a>
    </nav>
    </header>
    <div id="title_background"> </div>
    <div id="content">
      {{ content }}
    </div>
    <div class="footer" id="footer_background"></div>

    <footer>
    </footer>
  </body>
</html>
